@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400&display=swap');

:root {
	--dark: #050506;
	--red: #f43b22;
	--dark-red: #350d07;
	--yellow: #fecb21;
	--primary-font: 'Bebas Neue', cursive;
	--secondary-font: 'Roboto', sans-serif;
}

body {
	margin: 0;
	height: 100vh;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: #050506;
	padding: 10px;
	-webkit-box-shadow: 0px 9px 49px 16px #000000;
	box-shadow: 0px 9px 49px 16px #000000;
}

nav {
	display: flex;
	align-items: center;
	gap: 25px;
}

nav ul {
	display: flex;
	gap: 45px;
	margin: 0;
	justify-content: center;
	font-size: 1rem;
}

nav ul li {
	list-style: none;
	color: #ffffff;
	font-family: var(--secondary-font);

	font-weight: 300;
}

nav ul li:hover {
	color: rgba(255, 255, 255, 0.789);
	cursor: pointer;
}

footer {
	display: flex;
	align-items: center;
	font-family: var(--secondary-font);
	color: white;
	background-color: var(--dark);
	text-align: center;
	justify-content: center;

	-webkit-box-shadow: 0px 9px 49px 16px #000000;
	box-shadow: 0px 9px 49px 16px #000000;
}

footer p {
	margin: 25px;
}

.logo {
	display: flex;
	margin: 0px;
	gap: 10px;
	align-items: center;
}

.logo h1 {
	margin: 0px;
	font-family: var(--secondary-font);
	font-size: 1rem;
	color: var(--yellow);
	font-weight: 300;
}

.logo img {
	height: 55px;
}

.logo .h1-pizza {
	color: var(--red);
}

.hero {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 750px;
	text-align: center;
	color: white;

	-webkit-box-shadow: 0px 9px 49px 16px #000000;
	box-shadow: 0px 9px 49px 16px #000000;
}

.image-container {
	flex: 1 1 50%;
	position: relative;
}

.image-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: block;
}

.image-container:first-child img {
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
}

.image-container:last-child img {
	-webkit-filter: brightness(20%);
	filter: brightness(20%);
}

.content {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 30%;
	width: 100%;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 1.5rem;
}

.content h1,
h3 {
	margin: 0px;
	text-shadow: 0px 7px 12px #000000;
}

.content button {
	border-style: none;
	border-radius: 25px;
	padding: 10px 30px;
	font-size: 1.2rem;
	background-color: var(--yellow);
	color: rgb(0, 0, 0);
	transition: all 0.3s;
	margin-top: 25px;
	font-family: var(--secondary-font);
	font-weight: 300;
	font-size: 1.1rem;

	transition: transform 0.1s ease-out;
	display: inline-block;
}

.button-wrapper {
	display: flex;
	gap: 15px;
}

.content button:hover {
	background-color: #fff4cf;
	cursor: pointer;
	transform: translate(0, -1px);
}

.hours-of-operation {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 10%;
	width: 100%;
	text-align: left;
	justify-content: left;
	font-family: var(--secondary-font);
	font-size: 1.5rem;
}

.hours-of-operation h1 {
	font-family: var(--primary-font);
	text-shadow: 0px 7px 12px #000000;
}

.hours-of-operation p {
	margin-top: 220px;
	font-size: 1.1rem;
	font-weight: 300;
	color: white;
}

.hours-of-operation .phone-number {
	color: var(--yellow);
}

#tablehours td {
	font-size: 1.3rem;
	font-weight: 300;
	width: 180px;
	height: 35px;
}

.weekend-specials {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #350d07;
	height: fit-content;
}

.weekend-specials button {
	border-style: none;
	border-radius: 25px;
	padding: 10px 30px;
	font-size: 1.2rem;
	background-color: var(--yellow);
	color: rgb(0, 0, 0);
	transition: all 0.3s;
	margin-top: 25px;
	font-family: var(--secondary-font);
	font-weight: 300;
	font-size: 1.1rem;

	transition: transform 0.1s ease-out;
	display: inline-block;

	margin-bottom: 50px;
}

.weekend-specials button:hover {
	background-color: #fff4cf;
	cursor: pointer;
	transform: translate(0, -1px);
}

.weekend-specials h1 {
	font-family: var(--primary-font);
	font-weight: 100;
	color: white;
	margin: 0;
	font-size: 3rem;
	margin: 50px 0px;
	letter-spacing: 5px;
	text-shadow: rgba(255, 255, 255, 1) 0px 0px 4px;

	animation-name: floating;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 5px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

.specials-wrapper {
	display: flex;
	gap: 35px;
	height: 390px;
	margin-bottom: 50px;
}

.special-card {
	width: 300px;
	background-color: var(--yellow);
	border-radius: 10px;
	font-family: var(--secondary-font);
	text-align: center;
	font-weight: 100;
	color: rgb(0, 0, 0);

	margin-right: 2px;
	transition: margin 0.2s ease-in-out;

	-webkit-box-shadow: 0px 8px 22px -1px #000000;
	box-shadow: 0px 8px 22px -1px #000000;
}

.special-card img {
	max-height: 100%;
	max-width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.special-card:hover {
	cursor: pointer;
}

.special-card h4 {
	font-weight: 400;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.special-card h5 {
	margin: 0;
	font-weight: 300;
	font-size: 0.9rem;
}

.special-card:hover {
	-webkit-filter: brightness(115%);
	filter: brightness(115%);
	margin-top: -12px;
}

.menu-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--dark-red);
}

.menu-page h1 {
	font-family: var(--primary-font);
	font-weight: 100;
	color: white;
	margin: 0;
	font-size: 3rem;
	margin: 50px 0px;
	letter-spacing: 5px;
	text-shadow: rgba(255, 255, 255, 1) 0px 0px 4px;

	animation-name: floating;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.pizza-menu {
	display: grid;
	grid-template-rows: repeat(2, 400px);
	grid-template-columns: repeat(4, 300px);
	gap: 25px;
	margin: 0%;
	margin-bottom: 25px;
}

.protein-menu {
	display: grid;
	grid-template-rows: 475px;
	grid-template-columns: repeat(3, 300px);
	gap: 25px;
	margin: 0%;
	margin-bottom: 25px;
}

.pasta-menu {
	display: grid;
	grid-template-rows: 360px;
	grid-template-columns: repeat(2, 300px);
	gap: 25px;
	margin: 0%;
	margin-bottom: 25px;
}

.sandwich-menu {
	display: grid;
	grid-template-rows: 350px;
	grid-template-columns: repeat(2, 300px);
	gap: 25px;
	margin: 0%;
	margin-bottom: 75px;
}

.pizza-card,
.protein-card,
.pasta-card {
	background-color: var(--yellow);
	border-radius: 10px;
	font-family: var(--secondary-font);
	text-align: center;
	font-weight: 100;
	color: rgb(0, 0, 0);

	transition: margin 0.2s ease-in-out;

	-webkit-box-shadow: 0px 8px 22px -1px #000000;
	box-shadow: 0px 8px 22px -1px #000000;
	margin: 0;
	padding-top: 20px;
}

.protein-card:hover,
.pizza-card:hover,
.pasta-card:hover {
	-webkit-filter: brightness(115%);
	filter: brightness(115%);
	margin-top: -12px;
	cursor: pointer;
}

.pizza-card img {
	max-height: 80%;
	max-width: 80%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-webkit-filter: drop-shadow(0px 10px 10px #222);
	filter: drop-shadow(0px 10px 10px #222);
}

.protein-card img {
	max-height: 80%;
	max-width: 80%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.pasta-card img {
	max-height: 80%;
	max-width: 80%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.location-info {
	height: 700px;
	background-color: var(--dark);
	-webkit-box-shadow: 0px 9px 49px 16px #000000;
	box-shadow: 0px 9px 49px 16px #000000;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.location-info h1 {
	font-family: var(--primary-font);
	font-weight: 100;
	color: white;
	font-size: 3rem;
	letter-spacing: 5px;
	text-shadow: rgba(255, 255, 255, 1) 0px 0px 4px;
	margin-bottom: 50px;

	animation-name: floating;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.location-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1200px;
}

.location-content {
	height: 450px;
	background-color: var(--dark-red);
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	width: 500px;
}

.location-hours {
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 10%;
	width: 100%;
	text-align: left;
	justify-content: left;
	font-family: var(--secondary-font);
	color: white;
}

.location-hours h5 {
	font-family: var(--secondary-font);
	font-weight: 500;
	font-size: 2rem;
	margin-top: 35px;
	margin-bottom: 20px;
}

.location-hours p {
	margin-top: 40px;
	font-size: 1rem;
	font-weight: 300;
	color: white;
}

.location-hours .phone-number {
	color: var(--yellow);
}

#locationhours td {
	font-family: var(--secondary-font);
	font-size: 1.1rem;
	font-weight: 100;
	width: 150px;
	height: 35px;
}

iframe {
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	border-style: none;
}

@media (max-width: 450px) {
	html,
	body {
		width: 100%;
		overflow-x: hidden;
	}

	.header {
	}

	nav {
		justify-content: center;
		padding-left: 100px;
		gap: 0;
	}

	.hero {
		display: flex;
		width: 100%;
		margin: 0;
		flex-direction: column;
	}

	.hero .content h1 {
		font-size: 2.5rem;
	}

	.hero .content h3 {
		font-size: 2rem;
	}

	.image-container:last-child {
		display: none;
	}

	.image-container {
		display: block;
	}

	.specials-wrapper {
		flex-direction: column;
	}

	.location-wrapper {
		flex-direction: column;
	}

	.hours-of-operation h1 {
		margin: 10px;
		font-size: 1.75rem;
	}

	.hours-of-operation {
		font-size: 1rem;
	}

	#tablehours td {
		font-size: 1rem;
		width: 140px;
		height: 30px;
	}

	.hours-of-operation p {
		margin-top: 15px;
		font-size: 0.7rem;
	}

	.weekend-specials h1 {
		font-size: 2rem;
	}

	.weekend-specials {
		height: 1450px;
	}

	.special-card {
		height: 1850px;
	}

	.special-card h5 {
		margin-bottom: 15px;
	}

	.weekend-specials button {
		margin-top: 800px;
	}

	.location-content {
		width: 80%;
		border-radius: 0px;
	}

	iframe {
		width: 450px;
		border-radius: 0px;
	}

	.location-info {
		height: 1025px;
	}
}
